body > *{
    font-family: "Minion", sans-serif;
    margin-left: 200px;
}
li {
    text-decoration: none;
    list-style: none;
}

ul {
    margin: 0px;

}

h1 {
    font-family:"Avenir", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    
}
.navbar > ul {
    display: flex;
    gap: 40px;
    font-size: 20px;
}
.navbar {
    display: flex;
    align-items: center;
}

